.banner_wrapper {
    background-image: url('../../assets/background.jpg');
    /* background-color: #fff; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    background-size: cover;
    background-position: center center;  /* Centers the image */
    background-repeat: no-repeat;
}

.banner_wrapper .container {
    background-color: rgba(255, 255, 255, 0.25); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 0 15px;
}

.left-container {
    text-align: center;
    max-width: 50%; /* Increase width */
    min-height: 50vh;
    padding: 5%; /* Increase padding for better spacing */
    box-sizing: border-box;
    border-radius: 10px; /* Optional: Add rounded corners */
}

.left-container h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
    word-wrap: break-word;
}

.left-container h1 span {
    color: #e11d48;
}

.left-container p {
    font-size: 1.25rem;
    color: #666;
    margin-bottom: 2.0rem;
    word-wrap: break-word;
}

.left-container .main-btn {
    color: #e11d48;
    border: 2px solid #e11d48;
    border-radius: 30px;
    margin: 10px 0;
    padding: 12px 30px;
    font-size: 1.125rem;
    text-decoration: none;
    transition: 0.3s ease;
}

.left-container .main-btn:hover {
    background-color: #e11d48;
    color: #fff;
}


.right-container {
    max-width: 50%;
    display: flex;
    justify-content: center;
}

.right-container img {
    max-width: 70%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* max-height: 80vh; */

}

@media (max-width: 991px) {
    .banner_wrapper .container {
        flex-direction: column;
        text-align: center;
    }

    .left-container {
        max-width: 100%;
        padding-left: 0;
    }

    .right-container {
        max-width: 100%;
        margin-top: 20px;
    }

    .left-container h1 {
        font-size: 2.5rem;
    }

    .left-container p {
        font-size: 1.125rem;
    }

    .left-container .main-btn {
        font-size: 1rem;
    }

    .right-container img {
        max-height: 60vh;
    }
}

@media (max-width: 767px) {
    .banner_wrapper {
        padding: 50px 15px;
    }

    .left-container h1 {
        font-size: 2rem;
    }

    .left-container p {
        font-size: 1rem;
    }

    .left-container .main-btn {
        font-size: 0.875rem;
        padding: 10px 25px;
    }

    .right-container img {
        max-height: 50vh;
    }
}
