#services {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.service-box {
  background: #fff;
  border: 2px solid #D9D9D9;
  border-radius: 10px;
  padding: 25px;
  transition: all 0.3s ease-in-out;
}


.service-box:hover {
  border-color: #E11D48;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}


.service-icon {
  font-size: 30px;
  color: #E11D48;
  transition: color 0.3s ease-in-out;
}

/* Reduce Font Size */
.service-box h5 {
  font-size: 1.1rem; /* Adjust heading size */
}

.service-box p {
  padding-top: 0.5rem ;
  font-size: 0.9rem; /* Reduce paragraph font size */
}

.service-box {
  padding: 30px;
  margin: 2px;
}


span{
  color: #E11D48;
}